@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input:active,
input:focus {
  border-style: none;
  box-shadow: none !important;
}

@layer components {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.glass {
  -webkit-backdrop-filter: blur(22.5px);
  backdrop-filter: blur(22.5px);
  background: linear-gradient(137deg, rgb(57 116 244 / 15%), rgba(255, 255, 255, 0.1));
  box-shadow: 15px 15px 30px 0 #00000014;
}

.scrollable {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #76a8ef #e0e0e0;
  padding-right: 12px;
}

.scrollable::-webkit-scrollbar {
  width: 4px;
}

.scrollable::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}